<app-header [newTitle]="title">
</app-header>

<router-outlet></router-outlet>
<app-footer>
</app-footer>

<!-- <app-contador [initialValue]="receiveValue" (addModifiedValue)="addChanges($event)" (subModifiedValue)="subChanges($event)"></app-contador> -->
<!-- <app-data-binding-exec
[palavra]="wordApp" [color]="favoriteColor" (clicado)="eventoRecebido($event)">
</app-data-binding-exec> -->
<!-- <app-exec-diretivas></app-exec-diretivas> -->
  <!-- <app-memes></app-memes> -->
  <!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-pipe-exec></app-pipe-exec> -->
